
<form id="pagerForm" action="demo/database/dwzOrgLookup.html">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="${model.numPerPage}" />
	<input type="hidden" name="orderField" value="${param.orderField}" />
	<input type="hidden" name="orderDirection" value="${param.orderDirection}" />
</form>

<div class="pageHeader">
	<!-- <form rel="pagerForm" method="post" action="demo/database/dwzOrgLookup.html" onsubmit="return dwzSearch(this, 'dialog');">
	<div class="searchBar">
		<ul class="searchContent">
			<li>
				<label>部门名称:</label>
				<input class="textInput" name="orgName" value="" type="text">
			</li>
			<li>
				<label>部门编号:</label>
				<input class="textInput" name="orgNum" value="" type="text">
			</li>
			<li>
				<label>部门经理:</label>
				<input class="textInput" name="fullName" value="" type="text">
			</li>
				<li>
				<label>上级部门:</label>
				<input class="textInput" name="parentOrg.orgName" value="" type="text">
			</li>
		</ul>
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查询</button></div></div></li>
			</ul>
		</div>
	</div>
	</form> -->
</div>
<div class="pageContent">

  <table class="table" width="100%" layoutH="138">
		<thead>
			<tr>
				<th width="120">学生学号</th>
				<th>学生姓名</th>
				<th>班级</th>
				<th>返回</th>
			</tr>
		</thead>
		<tbody>
			{{#each students}}
				<tr target="sid_user" rel={{id}}>
					<td>{{code}}</td>
					<td>{{name}}</td>
					<td>{{className}}</td>
          <td>
            <a class="btnSelect" href="javascript:$.bringBack({id:'{{id}}', code:'{{code}}', name:'{{name}}', className: '{{className}}'})" title="查找带回">选择</a>
          </td>
				</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="panelBar">
		<div class="pages">
			<!-- <span>每页</span>

			<select name="numPerPage" onchange="dwzPageBreak({targetType:'dialog', numPerPage:'10'})">
				<option value="10" selected="selected">10</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select> -->
			<span>共{{count}}条</span>
		</div>
		<div class="pagination" targetType="dialog" totalCount="2" numPerPage="10" pageNumShown="1" currentPage="1"></div>
	</div>
</div>
